/* Header.css */

.header-appbar {

}

.header-toolbar {
    background-color: #2D4059;
}


.header-logo {
    height: 35px;
    width: auto;
}

.header-buttons {
    margin-left: auto; /* Aligns the button to the right side */
}

.header-button:hover {
    filter: brightness(0.5);
}